<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>社团组织</title>
</head>
<link rel="stylesheet" th:href="@{css/clubpage.css}">
<link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}">
<script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/js/xadmin.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/js/clubpage.js}" charset="utf-8"></script>

<body>
<div style="margin-left: 215px" class="library-main__list">
    <div style="width:920px;margin-top: 20px" class="layui-collapse">
        <h1 onclick="fededs(1)" class="layui-colla-title">计算机与软件工程系</h1>
        <div id="detail_one" style="display: none" class="layui-colla-item">
            <hr class="layui-bg-cyan">
            <div class="layui-colla-item">
                <div class="layui-colla-content layui-show">
                    计算机与软件工程学院现有4个教学系、2个研究所、1个实验中心和1个研究中心，开设4个本科专业。共有在职教师82人，教授、副教授40人，博士、硕士学位教师达80%，安徽省学术与技术带头人3人，安徽省有突出贡献专家1人，省学术与技术带头人后备人选2人，安徽省教学名师1人。学院坚持全面育人的原则，以培养具有良好文化素养、扎实专业基础和具有实践能力的复合型应用人才为目标，重视学生实践和创新能力的培养，同时与国内外著名大学、高新技术企业建立并保持着良好的合作交流关系。数学与计算机学院于2015年1月7日更名为计算机与软件工程学院。
                </div>
            </div>
            <div class="layui-colla-item">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                    <legend>学术研究</legend>
                </fieldset>
                <hr class="layui-bg-cyan">
                <div class="layui-colla-content layui-show">
                    <h3>研究成果</h3></br>
                    积极参加科学研究，2013年至2014年完成国家级、省部级等纵向科研项目及横向科研课题100余项，年均到位经费约300万元，出版教材、专著20余部，公开发表论文达500余篇，其中被SCI、EI收录的论文100余篇，具有较强的科研创新和服务社会的能力。
                    </br><h3>研究机构</h3></br>
                    学院设有计算机系、软件工程系，承担全校数学类公共课及我院各专业的专业课的教学；计算机应用技术、计算机软件两个研究所，设有计算机实验中心，学校重视对实验室的投入，为各专业学生提供了良好的实验实习环境。
                    安徽省高校重点实验室：数字空间安全保障、网络智能信息处理、高性能科学计算。
                    三个安徽省高校重点实验室：数字空间安全保障、网络智能信息处理、高性能科学计算。以及信息安全、数学建模、西华大学思科网络联合实验室、西华大学Intel嵌入式系统联合实验室、软件工程、物联网工程等11个专业实验室。
                </div>
            </div>

            <div class="layui-colla-item">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                    <legend>教学系部</legend>
                </fieldset>
                <hr class="layui-bg-cyan">
                <div class="layui-colla-content layui-show">
                    <p>
                    <div class="para-title level-3"
                         style="margin:20px 0px 12px;font-size:18px;font-family:&quot;color:#333333">
                        <h3 class="title-text" style="font-size:18px;font-weight:400;">
                            计算机系
                        </h3>
                    </div>
                    <div class="para" style="font-size:14px;font-family:arial, 宋体, sans-serif;">
                        计算机系现有专任教师31人，其中正、副教授14人;具有硕士学历教师11人，博士学历5人。计算机系现设有计算机科学与技术本科专业，下设计算机应用、计算机应用系统设计、信息安全三个专业方向。目前有在校本科生600余人。
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        <span style="font-weight:700;">主要开设课程</span><span style="font-weight:700;"><br/>
&emsp;&emsp;</span>&nbsp;程序设计语言、离散数学、数据结构、计算机组成原理、面向对象程序设计、操作系统、软件工程、数据库系统原理、多媒体技术、计算机网络等。<br/>
                        &emsp;&emsp;<span style="font-weight:700;">教学及科研成果&nbsp;<br/>
&emsp;&emsp;</span>&nbsp;全系教师治学严谨，勇于实践，积极开展教学研究和教学改革，因材施教，分层教学，成效显著。曾获全校青年教师课堂教学比赛一等奖 1人次，二等奖 1人次；获全校优秀多媒体课件比赛一等奖
                        1人次。全系教师在做好教学工作的同时，积极开展科学研究。曾经主持、参与省部级科研项目多项，出版教材9部，发表学术论文40余篇。<br/>
                        &emsp;&emsp;<span style="font-weight:700;">实验室建设<br/>
&emsp;&emsp;</span>&nbsp;计算机系高度重视实践教学，注重培养学生的综合素质。积极配合学院完善实验室的配套建设，陆续组建了多媒体实验室、网络实验室、接口技术实验室、DIY实验室等专业实验室，为学生提供了良好的实验实习环境。<br/>
                        &emsp;&emsp;<span style="font-weight:700;">专业培养目标</span><br/>
                        &emsp;&emsp;培养具有良好的科学素养，系统掌握计算机科学与技术（包括计算机硬件、软件、网络技术）的基本理论、基本知识和基本技能与方法，能在科研、教育、企事业单位和技术、行政管理等部门从事计算机教学、开发和应用的高级专门人才。<br/>
                        &emsp;&emsp;<span style="font-weight:700;">计算机系系主任</span>：<a target="_blank"
                                                                                     href="https://baike.baidu.com/item/%E9%BB%84%E8%A5%84%E5%BF%B5">黄襄念</a>(
                        教授 )
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        <span style="font-weight:700;">副系主任:</span><a target="_blank"
                                                                      href="https://baike.baidu.com/item/%E5%88%98%E5%85%8B%E5%89%91">刘克剑</a>&nbsp;(副教授)
                    </div>
                    <div class="anchor-list" style="color:#333333;font-family:arial, 宋体, sans-serif;">
                        <a name="4_2"></a><a name="sub17875294_4_2"></a><a name="软件工程系"></a><a name="4-2"></a>
                    </div>
                    <div class="para-title level-3"
                         style="margin:20px 0px 12px;font-size:18px;font-family:&quot;color:#333333;">
                        <h3 class="title-text" style="font-size:18px;font-weight:400;">
                            软件工程系
                        </h3>
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        软件工程系是依托于计算机学科、培养面向软件技术开发、信息服务生产的专门人才。现有专任教师14人，其中教授2名，副教授1名；硕士生导师4人；教师中博士3人、硕士9（含在职）。已逐步形成了一支以中青年教师为主、学历结构合理，学科方向覆盖面广，学术水平较高的师资队伍。<br/>
                        &emsp;&emsp;<span style="font-weight:700;">主要开设课程</span>&nbsp;<br/>
                        &emsp;&emsp;软件工程、软件项目管理、软件测试技术、软件文档与标准、数据库系统原理、编译原理、面向对象程序设计、操作系统原理、计算机网络、网络安全技术等。&nbsp;<br/>
                        &emsp;&emsp;<span style="font-weight:700;">教学及科研成果&nbsp;<br/>
&emsp;&emsp;</span><span style="font-weight:700;">&emsp;</span>&emsp;软件工程系自编教材多部，承担省级科研项目3项，横向科研项目40余项。科研方向涉及信息安全、模式识别与人工智能、智能信息处理、计算机网络、数据挖掘、数据库技术、互连网技术等多个领域，取得了丰硕的成果。在
                        《电子学报》等国家重要学术期刊或国际学术会议发表论文近100篇，其中30余篇被SCI, EI, ISTP检索。&nbsp;<br/>
                        &emsp;&emsp;<span style="font-weight:700;">专业培养目标&nbsp;<br/>
&emsp;&emsp;</span>&emsp;“软件工程”专业以计算机软件人才培养为目标。在人才培养模式上，突出对学生的软件开发能力和软件工程素质的培养，注重软件工程过程方法训练，按软件工程的综合性和技术应用性来建立课程结构和教学内容体系，使学生具有扎实的理论基础、合理的知识结构、较强的软件设计与开发能力、较高的工程组织与管理能力，以适应软件产业发展对软件工程专业人才的知识、能力、素质结构等方面的要求。毕业生应具有从事计算机软件教学、科学研究、软件系统管理、软件开发与项目管理等工作的能力。&nbsp;<br/>
                        &emsp;&emsp;<span style="font-weight:700;">软件工程系主任:</span>周立章( 副教授)
                    </div>
                    <div class="anchor-list" style="color:#333333;font-family:arial, 宋体, sans-serif;">
                        <a name="4_3"></a><a name="sub17875294_4_3"></a><a name="网络空间安全系"></a><a name="4-3"></a>
                    </div>
                    <div class="para-title level-3"
                         style="margin:20px 0px 12px;font-size:18px;font-family:&quot;color:#333333;">
                        <h3 class="title-text" style="font-size:18px;font-weight:400;">
                            网络空间安全系
                        </h3>
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        我院于2002年开始设置信息安全人才培养专业方向。依据“教育部学科发展与专业设置专家委员会”评议结果和2015年度普通学校本科专业备案或审批结果《教育部关于公布2015年度普通高等学校本科专业备案或审批结果的通知》（教高函[2016]2号），新增信息安全专业。
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        网络空间安全系现有安徽省级精品课程“密码学”，并设有“数字空间安全保障”安徽省高校重点实验室。
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        结合信息安全行业发展特点，探索出“科研与教学相促进”，“高校与企业相结合”的人才培养新模式。我系在信息安全人才培养上投入了大量资金，获批两项教育部协同育人项目，建立了西普阳光共建实验室，蓝盾实训基地。网络空间安全系具备培养该方向的实验设备，实验室配有网络实战管理平台、综合实战靶机、实战访问控制平台、信息安全实验教学系统，网络攻防实验教学系统等平台。经过长期的教学实践，我系学生每年参加各项国家级网络安全大赛均取得可喜的成绩。
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        我系储备了雄厚的师资队伍，目前已取得了丰硕的教学和科研成果。我系现有教师12名，其中教授2人，博士7人，教师中获得博士、硕士学位的教师达92%。安徽省学术与技术带头人1人，安徽省教学名师1人。在国内外重要学术刊物和学术会议上发表了200余篇学术论文（其中进入SCI、EI检索系统的论文100余篇）；承担有国家自然科学基金5项，省部级等纵向科研项目20余项，授权国家专利6项。
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        网络空间安全系主要研究方向：
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        1.密码学
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        2.计算机网络安全
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        3.保密通信安全
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        4.网络舆情监测
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        5.信息隐藏技术<span class="sup--normal"
                                      style="font-size:11.4286px;line-height:0;vertical-align:baseline;color:#3366CC;">&nbsp;</span><a
                            name="ref_[4]_17875294"></a>&nbsp;
                    </div>
                    <div class="anchor-list" style="color:#333333;font-family:arial, 宋体, sans-serif;">
                        <a name="4_4"></a><a name="sub17875294_4_4"></a><a name="物联网工程系"></a><a name="4-4"></a>
                    </div>
                    <div class="para-title level-3"
                         style="margin:20px 0px 12px;font-size:18px;font-family:&quot;color:#333333;">
                        <h3 class="title-text" style="font-size:18px;font-weight:400;">
                            物联网工程系
                        </h3>
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        物联网工程专业的设置顺应了国家战略性新兴产业物联网等发展的需要，符合“新工科”建设的目标和要求。专业依托计算机与软件工程学院的师资力量、教学实验设施和科研成果，按照国际工程教育认证标准来建设。我系储备了雄厚的师资队伍，我系现有教师13名，其中副教授8人，博士5人，教师中获得博士、硕士学位的教师达92%。
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        <span style="font-weight:700;">培养目标：</span>
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        主要培养国家物联网等战略性新兴产业发展急需的物联网人才。具有扎实的基础理论知识和专业知识、较强的工程实践能力，具有社会人文素养和国际视野，具有创新意识和创业精神的复合型物联网领域高级工程技术人才。以物联网工程应用为切入点，采取宽口径、强基础、重能力的培养方式。要求系统地掌握物联网的相关理论、方法和技能，具备物联网系统分析与设计和物联网系统应用与管理能力，并具有能创造性地应用于新的领域或跨多重领域的能力。
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        <span style="font-weight:700;">主干课程：</span>
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        计算机与物联网导论、离散数学、物联网硬件技术基础、物联网信号与信息处理、计算机组成原理与微机接口技术、数据结构及算法设计、数据库系统原理及应用、相关程序设计语言、计算机通信与网络、单片机及嵌入式系统设计、RFID原理及应用、物联网中间件技术、传感器原理及应用、物联网通信技术（无线、短距离）、传感网原理及应用、物联网操作系统、移动应用开发、物联网控制系统原理、物联网工程综合设计、云计算及应用、分布式数据库原理及应用、数据仓库与数据挖掘原理、大数据分析算法、物联网信息安全技术
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        <span style="font-weight:700;">毕业去向：</span>
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        本专业毕业生主要就业于物联网相关行业、IT及移动互联网企业、传统企业及事业单位；也可在计算机科学与技术、通信等其它专业学科领域继续深造。
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        学制：四年授予工学学士学位<span class="sup--normal"
                                           style="font-size:11.4286px;line-height:0;vertical-align:baseline;color:#3366CC;">&nbsp;</span>
                    </div>
                    </p>
                    <p>
                        <br/>
                    </p>
                </div>
            </div>
        </div>
        <hr class="layui-bg-cyan">
        <!--sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss-->
        <h1 onclick="fededs(2)" class="layui-colla-title">艺术设计系</h1>
        <div id="detail_two" style="display: none" class="layui-colla-item">
            <hr class="layui-bg-cyan">
            <div class="layui-colla-item">
                <div class="layui-colla-content layui-show">
                    艺术设计系                </div>
            </div>
            <div class="layui-colla-item">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                    <legend>学术研究</legend>
                </fieldset>
                <hr class="layui-bg-cyan">
                <div class="layui-colla-content layui-show">
                    <h3>研究成果</h3></br>
                    积极参加科学研究，2013年至2014年完成国家级、省部级等纵向科研项目及横向科研课题100余项，年均到位经费约300万元，出版教材、专著20余部，公开发表论文达500余篇，其中被SCI、EI收录的论文100余篇，具有较强的科研创新和服务社会的能力。
                    </br><h3>研究机构</h3></br>
                    学院设有计算机系、软件工程系，承担全校数学类公共课及我院各专业的专业课的教学；计算机应用技术、计算机软件两个研究所，设有计算机实验中心，学校重视对实验室的投入，为各专业学生提供了良好的实验实习环境。
                    安徽省高校重点实验室：数字空间安全保障、网络智能信息处理、高性能科学计算。
                    三个安徽省高校重点实验室：数字空间安全保障、网络智能信息处理、高性能科学计算。以及信息安全、数学建模、西华大学思科网络联合实验室、西华大学Intel嵌入式系统联合实验室、软件工程、物联网工程等11个专业实验室。
                </div>
            </div>

            <div class="layui-colla-item">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                    <legend>教学系部</legend>
                </fieldset>
                <hr class="layui-bg-cyan">
                <div class="layui-colla-content layui-show">
                    <p>
                    <div class="para-title level-3"
                         style="margin:20px 0px 12px;font-size:18px;font-family:&quot;color:#333333">
                        <h3 class="title-text" style="font-size:18px;font-weight:400;">
                            计算机系
                        </h3>
                    </div>
                    <div class="para" style="font-size:14px;font-family:arial, 宋体, sans-serif;">
                        计算机系现有专任教师31人，其中正、副教授14人;具有硕士学历教师11人，博士学历5人。计算机系现设有计算机科学与技术本科专业，下设计算机应用、计算机应用系统设计、信息安全三个专业方向。目前有在校本科生600余人。
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        <span style="font-weight:700;">主要开设课程</span><span style="font-weight:700;"><br/>
&emsp;&emsp;</span>&nbsp;程序设计语言、离散数学、数据结构、计算机组成原理、面向对象程序设计、操作系统、软件工程、数据库系统原理、多媒体技术、计算机网络等。<br/>
                        &emsp;&emsp;<span style="font-weight:700;">教学及科研成果&nbsp;<br/>
&emsp;&emsp;</span>&nbsp;全系教师治学严谨，勇于实践，积极开展教学研究和教学改革，因材施教，分层教学，成效显著。曾获全校青年教师课堂教学比赛一等奖 1人次，二等奖 1人次；获全校优秀多媒体课件比赛一等奖
                        1人次。全系教师在做好教学工作的同时，积极开展科学研究。曾经主持、参与省部级科研项目多项，出版教材9部，发表学术论文40余篇。<br/>
                        &emsp;&emsp;<span style="font-weight:700;">实验室建设<br/>
&emsp;&emsp;</span>&nbsp;计算机系高度重视实践教学，注重培养学生的综合素质。积极配合学院完善实验室的配套建设，陆续组建了多媒体实验室、网络实验室、接口技术实验室、DIY实验室等专业实验室，为学生提供了良好的实验实习环境。<br/>
                        &emsp;&emsp;<span style="font-weight:700;">专业培养目标</span><br/>
                        &emsp;&emsp;培养具有良好的科学素养，系统掌握计算机科学与技术（包括计算机硬件、软件、网络技术）的基本理论、基本知识和基本技能与方法，能在科研、教育、企事业单位和技术、行政管理等部门从事计算机教学、开发和应用的高级专门人才。<br/>
                        &emsp;&emsp;<span style="font-weight:700;">计算机系系主任</span>：<a target="_blank"
                                                                                     href="https://baike.baidu.com/item/%E9%BB%84%E8%A5%84%E5%BF%B5">黄襄念</a>(
                        教授 )
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        <span style="font-weight:700;">副系主任:</span><a target="_blank"
                                                                      href="https://baike.baidu.com/item/%E5%88%98%E5%85%8B%E5%89%91">刘克剑</a>&nbsp;(副教授)
                    </div>
                    <div class="anchor-list" style="color:#333333;font-family:arial, 宋体, sans-serif;">
                        <a name="4_2"></a><a name="sub17875294_4_2"></a><a name="软件工程系"></a><a name="4-2"></a>
                    </div>
                    <div class="para-title level-3"
                         style="margin:20px 0px 12px;font-size:18px;font-family:&quot;color:#333333;">
                        <h3 class="title-text" style="font-size:18px;font-weight:400;">
                            软件工程系
                        </h3>
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        软件工程系是依托于计算机学科、培养面向软件技术开发、信息服务生产的专门人才。现有专任教师14人，其中教授2名，副教授1名；硕士生导师4人；教师中博士3人、硕士9（含在职）。已逐步形成了一支以中青年教师为主、学历结构合理，学科方向覆盖面广，学术水平较高的师资队伍。<br/>
                        &emsp;&emsp;<span style="font-weight:700;">主要开设课程</span>&nbsp;<br/>
                        &emsp;&emsp;软件工程、软件项目管理、软件测试技术、软件文档与标准、数据库系统原理、编译原理、面向对象程序设计、操作系统原理、计算机网络、网络安全技术等。&nbsp;<br/>
                        &emsp;&emsp;<span style="font-weight:700;">教学及科研成果&nbsp;<br/>
&emsp;&emsp;</span><span style="font-weight:700;">&emsp;</span>&emsp;软件工程系自编教材多部，承担省级科研项目3项，横向科研项目40余项。科研方向涉及信息安全、模式识别与人工智能、智能信息处理、计算机网络、数据挖掘、数据库技术、互连网技术等多个领域，取得了丰硕的成果。在
                        《电子学报》等国家重要学术期刊或国际学术会议发表论文近100篇，其中30余篇被SCI, EI, ISTP检索。&nbsp;<br/>
                        &emsp;&emsp;<span style="font-weight:700;">专业培养目标&nbsp;<br/>
&emsp;&emsp;</span>&emsp;“软件工程”专业以计算机软件人才培养为目标。在人才培养模式上，突出对学生的软件开发能力和软件工程素质的培养，注重软件工程过程方法训练，按软件工程的综合性和技术应用性来建立课程结构和教学内容体系，使学生具有扎实的理论基础、合理的知识结构、较强的软件设计与开发能力、较高的工程组织与管理能力，以适应软件产业发展对软件工程专业人才的知识、能力、素质结构等方面的要求。毕业生应具有从事计算机软件教学、科学研究、软件系统管理、软件开发与项目管理等工作的能力。&nbsp;<br/>
                        &emsp;&emsp;<span style="font-weight:700;">软件工程系主任:</span>周立章( 副教授)
                    </div>
                    <div class="anchor-list" style="color:#333333;font-family:arial, 宋体, sans-serif;">
                        <a name="4_3"></a><a name="sub17875294_4_3"></a><a name="网络空间安全系"></a><a name="4-3"></a>
                    </div>
                    <div class="para-title level-3"
                         style="margin:20px 0px 12px;font-size:18px;font-family:&quot;color:#333333;">
                        <h3 class="title-text" style="font-size:18px;font-weight:400;">
                            网络空间安全系
                        </h3>
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        我院于2002年开始设置信息安全人才培养专业方向。依据“教育部学科发展与专业设置专家委员会”评议结果和2015年度普通学校本科专业备案或审批结果《教育部关于公布2015年度普通高等学校本科专业备案或审批结果的通知》（教高函[2016]2号），新增信息安全专业。
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        网络空间安全系现有安徽省级精品课程“密码学”，并设有“数字空间安全保障”安徽省高校重点实验室。
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        结合信息安全行业发展特点，探索出“科研与教学相促进”，“高校与企业相结合”的人才培养新模式。我系在信息安全人才培养上投入了大量资金，获批两项教育部协同育人项目，建立了西普阳光共建实验室，蓝盾实训基地。网络空间安全系具备培养该方向的实验设备，实验室配有网络实战管理平台、综合实战靶机、实战访问控制平台、信息安全实验教学系统，网络攻防实验教学系统等平台。经过长期的教学实践，我系学生每年参加各项国家级网络安全大赛均取得可喜的成绩。
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        我系储备了雄厚的师资队伍，目前已取得了丰硕的教学和科研成果。我系现有教师12名，其中教授2人，博士7人，教师中获得博士、硕士学位的教师达92%。安徽省学术与技术带头人1人，安徽省教学名师1人。在国内外重要学术刊物和学术会议上发表了200余篇学术论文（其中进入SCI、EI检索系统的论文100余篇）；承担有国家自然科学基金5项，省部级等纵向科研项目20余项，授权国家专利6项。
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        网络空间安全系主要研究方向：
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        1.密码学
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        2.计算机网络安全
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        3.保密通信安全
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        4.网络舆情监测
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        5.信息隐藏技术<span class="sup--normal"
                                      style="font-size:11.4286px;line-height:0;vertical-align:baseline;color:#3366CC;">&nbsp;</span><a
                            name="ref_[4]_17875294"></a>&nbsp;
                    </div>
                    <div class="anchor-list" style="color:#333333;font-family:arial, 宋体, sans-serif;">
                        <a name="4_4"></a><a name="sub17875294_4_4"></a><a name="物联网工程系"></a><a name="4-4"></a>
                    </div>
                    <div class="para-title level-3"
                         style="margin:20px 0px 12px;font-size:18px;font-family:&quot;color:#333333;">
                        <h3 class="title-text" style="font-size:18px;font-weight:400;">
                            物联网工程系
                        </h3>
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        物联网工程专业的设置顺应了国家战略性新兴产业物联网等发展的需要，符合“新工科”建设的目标和要求。专业依托计算机与软件工程学院的师资力量、教学实验设施和科研成果，按照国际工程教育认证标准来建设。我系储备了雄厚的师资队伍，我系现有教师13名，其中副教授8人，博士5人，教师中获得博士、硕士学位的教师达92%。
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        <span style="font-weight:700;">培养目标：</span>
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        主要培养国家物联网等战略性新兴产业发展急需的物联网人才。具有扎实的基础理论知识和专业知识、较强的工程实践能力，具有社会人文素养和国际视野，具有创新意识和创业精神的复合型物联网领域高级工程技术人才。以物联网工程应用为切入点，采取宽口径、强基础、重能力的培养方式。要求系统地掌握物联网的相关理论、方法和技能，具备物联网系统分析与设计和物联网系统应用与管理能力，并具有能创造性地应用于新的领域或跨多重领域的能力。
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        <span style="font-weight:700;">主干课程：</span>
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        计算机与物联网导论、离散数学、物联网硬件技术基础、物联网信号与信息处理、计算机组成原理与微机接口技术、数据结构及算法设计、数据库系统原理及应用、相关程序设计语言、计算机通信与网络、单片机及嵌入式系统设计、RFID原理及应用、物联网中间件技术、传感器原理及应用、物联网通信技术（无线、短距离）、传感网原理及应用、物联网操作系统、移动应用开发、物联网控制系统原理、物联网工程综合设计、云计算及应用、分布式数据库原理及应用、数据仓库与数据挖掘原理、大数据分析算法、物联网信息安全技术
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        <span style="font-weight:700;">毕业去向：</span>
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        本专业毕业生主要就业于物联网相关行业、IT及移动互联网企业、传统企业及事业单位；也可在计算机科学与技术、通信等其它专业学科领域继续深造。
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        学制：四年授予工学学士学位<span class="sup--normal"
                                           style="font-size:11.4286px;line-height:0;vertical-align:baseline;color:#3366CC;">&nbsp;</span>
                    </div>
                    </p>
                    <p>
                        <br/>
                    </p>
                </div>
            </div>
        </div>
        <!--详细结束-->
        <hr class="layui-bg-cyan">
        <!--ssssssssssssssaaaaaassssssssssssssddsdsddddddddddddddddddd-->
        <h1 onclick="fededs(3)" class="layui-colla-title">物理信息与工程系</h1>
        <div id="detail_three" style="display: none" class="layui-colla-item">
            <hr class="layui-bg-cyan">
            <div class="layui-colla-item">
                <div class="layui-colla-content layui-show">
                    物理信息与工程系                </div>
            </div>
            <div class="layui-colla-item">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                    <legend>学术研究</legend>
                </fieldset>
                <hr class="layui-bg-cyan">
                <div class="layui-colla-content layui-show">
                    <h3>研究成果</h3></br>
                    积极参加科学研究，2013年至2014年完成国家级、省部级等纵向科研项目及横向科研课题100余项，年均到位经费约300万元，出版教材、专著20余部，公开发表论文达500余篇，其中被SCI、EI收录的论文100余篇，具有较强的科研创新和服务社会的能力。
                    </br><h3>研究机构</h3></br>
                    学院设有计算机系、软件工程系，承担全校数学类公共课及我院各专业的专业课的教学；计算机应用技术、计算机软件两个研究所，设有计算机实验中心，学校重视对实验室的投入，为各专业学生提供了良好的实验实习环境。
                    安徽省高校重点实验室：数字空间安全保障、网络智能信息处理、高性能科学计算。
                    三个安徽省高校重点实验室：数字空间安全保障、网络智能信息处理、高性能科学计算。以及信息安全、数学建模、西华大学思科网络联合实验室、西华大学Intel嵌入式系统联合实验室、软件工程、物联网工程等11个专业实验室。
                </div>
            </div>

            <div class="layui-colla-item">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                    <legend>教学系部</legend>
                </fieldset>
                <hr class="layui-bg-cyan">
                <div class="layui-colla-content layui-show">
                    <p>
                    <div class="para-title level-3"
                         style="margin:20px 0px 12px;font-size:18px;font-family:&quot;color:#333333">
                        <h3 class="title-text" style="font-size:18px;font-weight:400;">
                            计算机系
                        </h3>
                    </div>
                    <div class="para" style="font-size:14px;font-family:arial, 宋体, sans-serif;">
                        计算机系现有专任教师31人，其中正、副教授14人;具有硕士学历教师11人，博士学历5人。计算机系现设有计算机科学与技术本科专业，下设计算机应用、计算机应用系统设计、信息安全三个专业方向。目前有在校本科生600余人。
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        <span style="font-weight:700;">主要开设课程</span><span style="font-weight:700;"><br/>
&emsp;&emsp;</span>&nbsp;程序设计语言、离散数学、数据结构、计算机组成原理、面向对象程序设计、操作系统、软件工程、数据库系统原理、多媒体技术、计算机网络等。<br/>
                        &emsp;&emsp;<span style="font-weight:700;">教学及科研成果&nbsp;<br/>
&emsp;&emsp;</span>&nbsp;全系教师治学严谨，勇于实践，积极开展教学研究和教学改革，因材施教，分层教学，成效显著。曾获全校青年教师课堂教学比赛一等奖 1人次，二等奖 1人次；获全校优秀多媒体课件比赛一等奖
                        1人次。全系教师在做好教学工作的同时，积极开展科学研究。曾经主持、参与省部级科研项目多项，出版教材9部，发表学术论文40余篇。<br/>
                        &emsp;&emsp;<span style="font-weight:700;">实验室建设<br/>
&emsp;&emsp;</span>&nbsp;计算机系高度重视实践教学，注重培养学生的综合素质。积极配合学院完善实验室的配套建设，陆续组建了多媒体实验室、网络实验室、接口技术实验室、DIY实验室等专业实验室，为学生提供了良好的实验实习环境。<br/>
                        &emsp;&emsp;<span style="font-weight:700;">专业培养目标</span><br/>
                        &emsp;&emsp;培养具有良好的科学素养，系统掌握计算机科学与技术（包括计算机硬件、软件、网络技术）的基本理论、基本知识和基本技能与方法，能在科研、教育、企事业单位和技术、行政管理等部门从事计算机教学、开发和应用的高级专门人才。<br/>
                        &emsp;&emsp;<span style="font-weight:700;">计算机系系主任</span>：<a target="_blank"
                                                                                     href="https://baike.baidu.com/item/%E9%BB%84%E8%A5%84%E5%BF%B5">黄襄念</a>(
                        教授 )
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        <span style="font-weight:700;">副系主任:</span><a target="_blank"
                                                                      href="https://baike.baidu.com/item/%E5%88%98%E5%85%8B%E5%89%91">刘克剑</a>&nbsp;(副教授)
                    </div>
                    <div class="anchor-list" style="color:#333333;font-family:arial, 宋体, sans-serif;">
                        <a name="4_2"></a><a name="sub17875294_4_2"></a><a name="软件工程系"></a><a name="4-2"></a>
                    </div>
                    <div class="para-title level-3"
                         style="margin:20px 0px 12px;font-size:18px;font-family:&quot;color:#333333;">
                        <h3 class="title-text" style="font-size:18px;font-weight:400;">
                            软件工程系
                        </h3>
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        软件工程系是依托于计算机学科、培养面向软件技术开发、信息服务生产的专门人才。现有专任教师14人，其中教授2名，副教授1名；硕士生导师4人；教师中博士3人、硕士9（含在职）。已逐步形成了一支以中青年教师为主、学历结构合理，学科方向覆盖面广，学术水平较高的师资队伍。<br/>
                        &emsp;&emsp;<span style="font-weight:700;">主要开设课程</span>&nbsp;<br/>
                        &emsp;&emsp;软件工程、软件项目管理、软件测试技术、软件文档与标准、数据库系统原理、编译原理、面向对象程序设计、操作系统原理、计算机网络、网络安全技术等。&nbsp;<br/>
                        &emsp;&emsp;<span style="font-weight:700;">教学及科研成果&nbsp;<br/>
&emsp;&emsp;</span><span style="font-weight:700;">&emsp;</span>&emsp;软件工程系自编教材多部，承担省级科研项目3项，横向科研项目40余项。科研方向涉及信息安全、模式识别与人工智能、智能信息处理、计算机网络、数据挖掘、数据库技术、互连网技术等多个领域，取得了丰硕的成果。在
                        《电子学报》等国家重要学术期刊或国际学术会议发表论文近100篇，其中30余篇被SCI, EI, ISTP检索。&nbsp;<br/>
                        &emsp;&emsp;<span style="font-weight:700;">专业培养目标&nbsp;<br/>
&emsp;&emsp;</span>&emsp;“软件工程”专业以计算机软件人才培养为目标。在人才培养模式上，突出对学生的软件开发能力和软件工程素质的培养，注重软件工程过程方法训练，按软件工程的综合性和技术应用性来建立课程结构和教学内容体系，使学生具有扎实的理论基础、合理的知识结构、较强的软件设计与开发能力、较高的工程组织与管理能力，以适应软件产业发展对软件工程专业人才的知识、能力、素质结构等方面的要求。毕业生应具有从事计算机软件教学、科学研究、软件系统管理、软件开发与项目管理等工作的能力。&nbsp;<br/>
                        &emsp;&emsp;<span style="font-weight:700;">软件工程系主任:</span>周立章( 副教授)
                    </div>
                    <div class="anchor-list" style="color:#333333;font-family:arial, 宋体, sans-serif;">
                        <a name="4_3"></a><a name="sub17875294_4_3"></a><a name="网络空间安全系"></a><a name="4-3"></a>
                    </div>
                    <div class="para-title level-3"
                         style="margin:20px 0px 12px;font-size:18px;font-family:&quot;color:#333333;">
                        <h3 class="title-text" style="font-size:18px;font-weight:400;">
                            网络空间安全系
                        </h3>
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        我院于2002年开始设置信息安全人才培养专业方向。依据“教育部学科发展与专业设置专家委员会”评议结果和2015年度普通学校本科专业备案或审批结果《教育部关于公布2015年度普通高等学校本科专业备案或审批结果的通知》（教高函[2016]2号），新增信息安全专业。
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        网络空间安全系现有安徽省级精品课程“密码学”，并设有“数字空间安全保障”安徽省高校重点实验室。
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        结合信息安全行业发展特点，探索出“科研与教学相促进”，“高校与企业相结合”的人才培养新模式。我系在信息安全人才培养上投入了大量资金，获批两项教育部协同育人项目，建立了西普阳光共建实验室，蓝盾实训基地。网络空间安全系具备培养该方向的实验设备，实验室配有网络实战管理平台、综合实战靶机、实战访问控制平台、信息安全实验教学系统，网络攻防实验教学系统等平台。经过长期的教学实践，我系学生每年参加各项国家级网络安全大赛均取得可喜的成绩。
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        我系储备了雄厚的师资队伍，目前已取得了丰硕的教学和科研成果。我系现有教师12名，其中教授2人，博士7人，教师中获得博士、硕士学位的教师达92%。安徽省学术与技术带头人1人，安徽省教学名师1人。在国内外重要学术刊物和学术会议上发表了200余篇学术论文（其中进入SCI、EI检索系统的论文100余篇）；承担有国家自然科学基金5项，省部级等纵向科研项目20余项，授权国家专利6项。
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        网络空间安全系主要研究方向：
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        1.密码学
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        2.计算机网络安全
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        3.保密通信安全
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        4.网络舆情监测
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        5.信息隐藏技术<span class="sup--normal"
                                      style="font-size:11.4286px;line-height:0;vertical-align:baseline;color:#3366CC;">&nbsp;</span><a
                            name="ref_[4]_17875294"></a>&nbsp;
                    </div>
                    <div class="anchor-list" style="color:#333333;font-family:arial, 宋体, sans-serif;">
                        <a name="4_4"></a><a name="sub17875294_4_4"></a><a name="物联网工程系"></a><a name="4-4"></a>
                    </div>
                    <div class="para-title level-3"
                         style="margin:20px 0px 12px;font-size:18px;font-family:&quot;color:#333333;">
                        <h3 class="title-text" style="font-size:18px;font-weight:400;">
                            物联网工程系
                        </h3>
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        物联网工程专业的设置顺应了国家战略性新兴产业物联网等发展的需要，符合“新工科”建设的目标和要求。专业依托计算机与软件工程学院的师资力量、教学实验设施和科研成果，按照国际工程教育认证标准来建设。我系储备了雄厚的师资队伍，我系现有教师13名，其中副教授8人，博士5人，教师中获得博士、硕士学位的教师达92%。
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        <span style="font-weight:700;">培养目标：</span>
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        主要培养国家物联网等战略性新兴产业发展急需的物联网人才。具有扎实的基础理论知识和专业知识、较强的工程实践能力，具有社会人文素养和国际视野，具有创新意识和创业精神的复合型物联网领域高级工程技术人才。以物联网工程应用为切入点，采取宽口径、强基础、重能力的培养方式。要求系统地掌握物联网的相关理论、方法和技能，具备物联网系统分析与设计和物联网系统应用与管理能力，并具有能创造性地应用于新的领域或跨多重领域的能力。
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        <span style="font-weight:700;">主干课程：</span>
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        计算机与物联网导论、离散数学、物联网硬件技术基础、物联网信号与信息处理、计算机组成原理与微机接口技术、数据结构及算法设计、数据库系统原理及应用、相关程序设计语言、计算机通信与网络、单片机及嵌入式系统设计、RFID原理及应用、物联网中间件技术、传感器原理及应用、物联网通信技术（无线、短距离）、传感网原理及应用、物联网操作系统、移动应用开发、物联网控制系统原理、物联网工程综合设计、云计算及应用、分布式数据库原理及应用、数据仓库与数据挖掘原理、大数据分析算法、物联网信息安全技术
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        <span style="font-weight:700;">毕业去向：</span>
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        本专业毕业生主要就业于物联网相关行业、IT及移动互联网企业、传统企业及事业单位；也可在计算机科学与技术、通信等其它专业学科领域继续深造。
                    </div>
                    <div class="para" style="font-size:14px;color:#333333;font-family:arial, 宋体, sans-serif;">
                        学制：四年授予工学学士学位<span class="sup--normal"
                                           style="font-size:11.4286px;line-height:0;vertical-align:baseline;color:#3366CC;">&nbsp;</span>
                    </div>
                    </p>
                    <p>
                        <br/>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    function fededs(type) {
        switch (type) {
            case 1:
                $("#detail_one").toggle(50);
                break;
            case 2:
                $("#detail_two").toggle(50);
                break;
            case 3:
                $("#detail_three").toggle(50);
                break;
        }
    }
</script>
</html>
