<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>添加组织</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
</head>
<body>
<div>
    <form class="layui-form" action="/addClub" method="post" id="uploadForm"
          enctype="multipart/form-data" onsubmit="check()">
        <div class="row" style="margin: 40px;">
            <div class="layui-col-md4  input-group" style="float:left;width: 320px">
                <span class=" input-group-addon"><i class="layui-icon">&#xe67c;</i>上传图片:</span><input type="file"
                                                                                                      name="picFile"
                                                                                                      class="layui-input"
                                                                                                      required>
                <span class=" input-group-addon">社团名称：</span><input type="text" name="name" class="layui-input"
                                                                    required>
                <span class=" input-group-addon">申请人姓名：</span><input type="text" name="firstman" class="layui-input"
                                                                     required>

                <span class=" input-group-addon">学号：</span><input type="text" name="stunum" class="layui-input"
                                                                  required>
                <span class=" input-group-addon">时间：</span><input type="date" name="datepublished" class="layui-input"
                                                                  required>
                <span class=" input-group-addon">联系电话：</span><input type="text" id="phonum" name="phonum"
                                                                    class="layui-input"
                                                                    required lay-verify="phone">

                </br>
                <div style="width: 300px" class="layui-form-item layui-col-md-offset3">
                    <div class="layui-input-block">
                        <select name="count" lay-filter="aihao">
                            <option value="1" selected="">学生组织</option>
                            <option value="2">学生社团</option>
                        </select>
                    </div>
                </div>
                <span class=" input-group-addon"></span><a style="font-size: 20px; text-decoration: underline"
                                                           href="/society_files/a.docx" download="社团申请附件">社团申请附件.下载</a>

                <button style="float: right;margin-top: 10px" type="submit" class="layui-btn"
                        id="createClub">创建
                </button>
            </div>
            <div style="float: right;height: 400px;width: 240px">
                <h5>社团简介:</h5>
                </br>
                <textarea required lay-verify="nikename" style="font-size: 20px" cols="22" rows="12" name="description">
                   </textarea>
            </div>
        </div>
    </form>
</div>
<script>

</script>
</body>
</html>