<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>平台首页</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!-- CSS
    ================================================== -->
    <!-- Normalize default styles -->
    <link rel="stylesheet" th:href="@{/mcss/normalize.css}">
    <!-- Skeleton grid system -->
    <link rel="stylesheet" th:href="@{/mcss/skeleton.css}">
    <!-- Base Template Styles-->
    <link rel="stylesheet" th:href="@{/mcss/base.css}">
    <!-- Template Styles-->
    <link rel="stylesheet" th:href="@{/mcss/style.css}">
    <!-- Superfish -->
    <link rel="stylesheet" th:href="@{/mcss/superfish.css}">
    <!-- Prettyphoto -->
    <link rel="stylesheet" th:href="@{/mcss/prettyPhoto.css}">
    <!-- FontAwesome -->
    <link rel="stylesheet" th:href="@{/mcss/font-awesome.min.css}">
    <!-- REVOLUTION BANNER CSS SETTINGS -->
    <link rel="stylesheet" th:href="@{/mcss/settings.css}">
    <!-- Flexslider -->
    <link rel="stylesheet" th:href="@{/mcss/flexslider.css}">
    <!-- Layout and Media queries-->
    <link rel="stylesheet" th:href="@{/mcss/media-queries.css}">
    <!--[if lt IE 9]>
    <link rel="stylesheet" th:href="@{/mcss/ie/ie8.css}">
    <![endif]-->
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}">

    <link rel="stylesheet" th:href="@{/css/clubpage.css}">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <style>
        a:hover {
            text-decoration: none;
            color: orange;
        }
    </style>
</head>
<body>

<!-- BEGIN WRAPPER -->
<div id="wrapper">

    <div class="wrapp-holder">
        <div class="wrap-frame">
            <!-- BEGIN HEADER -->
            <header id="header" class="header">

                <!-- Top Header -->
                <div class="header-top">
                    <div class="container clearfix">
                        <div class="grid_12">
                            <!-- Top Menu -->
                            <ul class="header-top-menu unstyled">
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">Sitemap</a></li>
                                <li><a href="#">FAQs</a></li>
                                <li><a href="http://www.cssmoban.com">More themes</a></li>
                            </ul>
                            <!-- /Top Menu -->

                            <!-- Social Links -->
                            <ul class="social-links unstyled">
                                <li class="ico-twitter"><a href="#">Twitter</a></li>
                                <li class="ico-facebook"><a href="#">Facebook</a></li>
                                <li class="ico-googleplus"><a href="#">Google+</a></li>
                                <li class="ico-dribbble"><a href="#">Dribbble</a></li>
                                <li class="ico-vimeo"><a href="#">Vimeo</a></li>
                                <li class="ico-rss"><a href="#">RSS</a></li>
                            </ul>
                            <!-- /Social Links -->
                        </div>
                    </div>
                </div>
                <!-- /Top Header -->

                <!-- Main Header -->
                <div class="header-main">
                    <div class="container clearfix">
                        <div class="grid_12 hr-bottom">

                            <!-- BEGIN LOGO -->
                            <div id="logo">
                                <!-- Image based Logo -->
                                <a style="font-size: 30px" href="/index">
                                    大学生信息服务平台&nbsp;<i style="font-size: 30px;"
                                                      class="layui-icon layui-icon-find-fill"></i>
                                </a>

                            </div>
                            <!-- END LOGO -->


                            <!-- BEGIN NAVIGATION -->
                            <nav class="primary">
                                <ul class="sf-menu">
                                    <li class="current-menu-item">
                                        <!-- onclick="mainFrame()"-->
                                        <a href="/toAdminPage">主页
                                            <span><i>|</i>go index</span></a>
                                        <ul>
                                            <li class="current-menu-item"><a href="old_index.html">Revolution Slider</a>
                                            </li>
                                            <li><a href="index-flex-fade.html">Flexslider Fade</a></li>
                                            <li><a href="index-flex-slide.html">Flexslider Slide</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">信息通知 <span><i>|</i> Why Choose Us</span></a>
                                        <!-- Sub Navigation -->
                                        <ul>
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="columns.html">Columns</a></li>
                                            <li><a href="services.html">Services</a></li>
                                            <li><a href="pricing-tables.html">Pricing Tables</a></li>
                                            <li><a href="elements.html">Page Elements</a></li>
                                            <li><a href="#">Second Level Item</a>
                                                <ul>
                                                    <li><a href="#">Third Level Item</a></li>
                                                    <li><a href="#">And another one</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <!-- /Sub Navigation -->
                                    </li>
                                    <li>
                                        <a href="#">社团组织 <span><i>|</i> Our Works</span></a>
                                        <!-- Sub Navigation -->
                                        <ul>
                                            <li><a href="javascript:;" onclick="allSociety()">全部</a></li>
                                            <li><a href="javascript:;" onclick="allStuOrganize()">学生组织</a></li>
                                            <li><a href="javascript:;" onclick="allColleges()">社团</a></li>
                                            <li><a href="javascript:;"
                                                   onclick="x_admin_show('创建社团','/toAddClubPage',670,590)">创建社团</a></li>
                                        </ul>
                                        <!-- /Sub Navigation -->
                                    </li>
                                    <li>
                                        <a href="#">失物招领 <span><i>|</i> Our Updates</span></a>
                                        <!-- Sub Navigation -->
                                        <ul>
                                            <li><a href="post.html">Single Post</a></li>
                                        </ul>
                                        <!-- /Sub Navigation -->
                                    </li>
                                    <li>
                                        <a href="#">生活服务 <span><i>|</i> Get in Touch</span></a>
                                        <ul>
                                            <li><a href="javascript:;" onclick="allAttractions()">景点</a></li>
                                            <li><a href="javascript:;" onclick="allFoods()">美食</a></li>
                                            <li><a href="javascript:;" onclick="getMap()">地图</a></li>
                                            <li><a href="javascript:;" onclick="Test()">地图</a></li>
                                           <!-- <li id="attraction"><a href="javascript:;"
                                                                   onclick="x_admin_show('添加景点','/toAddAttraction',670,590)">添加景点</a></li>
                                            <li id="food"><a href="javascript:;"
                                                             onclick="x_admin_show('添加美食','/toAddFood',670,590)">添加美食</a></li>-->
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                            <!-- END NAVIGATION -->

                        </div>
                    </div>
                </div>
                <!-- /Main Header -->

            </header>
            <!-- END HEADER -->


            <div id="mainFrame">

                <!-- BEGIN SLIDER -->
                <div id="slider" class="slider loading">
                    <div class="container clearfix">
                        <div class="grid_12">

                            <div class="bannercontainer">
                                <div class="banner">
                                    <!--轮播图片开始处-->
                                    <ul>
                                        <!-- THE FIRST SLIDE -->
                                        <li data-transition="fade" data-slotamount="10" data-masterspeed="300"
                                            data-slideindex="back">
                                            <!-- THE MAIN IMAGE IN THE SLIDE -->
                                            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1554809849791&di=2d846bd98ae333025231a5eb8785212c&imgtype=0&src=http%3A%2F%2Fpic15.nipic.com%2F20110628%2F1369025_192645024000_2.jpg">
                                            <!-- THE CAPTIONS OF THE FIRST SLIDE -->
                                            <div class="tp-caption sfl original"
                                                 data-x="100"
                                                 data-y="146"
                                                 data-speed="300"
                                                 data-start="600"
                                                 data-captionhidden="on"
                                                 data-endeasing="easeOutExpo"
                                                 data-easing="easeOutExpo">
                                                Create Your Own
                                            </div>
                                            <div class="tp-caption sfr original_high"
                                                 data-x="142"
                                                 data-y="178"
                                                 data-speed="300"
                                                 data-start="800"
                                                 data-captionhidden="on"
                                                 data-endeasing="easeOutExpo"
                                                 data-easing="easeOutExpo">
                                                Personality!
                                            </div>
                                        </li>

                                        <!-- THE FIRST SLIDE -->
                                        <li data-transition="fade" data-slotamount="10" data-masterspeed="300"
                                            data-slideindex="back">
                                            <!-- THE MAIN IMAGE IN THE SLIDE -->
                                            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1554809849791&di=2d846bd98ae333025231a5eb8785212c&imgtype=0&src=http%3A%2F%2Fpic15.nipic.com%2F20110628%2F1369025_192645024000_2.jpg">
                                            <!-- THE CAPTIONS OF THE FIRST SLIDE -->
                                            <div class="tp-caption sfl original"
                                                 data-x="100"
                                                 data-y="146"
                                                 data-speed="300"
                                                 data-start="600"
                                                 data-captionhidden="on"
                                                 data-endeasing="easeOutExpo"
                                                 data-easing="easeOutExpo">
                                                Create Your Own
                                            </div>
                                            <div class="tp-caption sfr original_high"
                                                 data-x="142"
                                                 data-y="178"
                                                 data-speed="300"
                                                 data-start="800"
                                                 data-captionhidden="on"
                                                 data-endeasing="easeOutExpo"
                                                 data-easing="easeOutExpo">
                                                Personality!
                                            </div>
                                        </li>

                                        <!-- THE FIRST SLIDE -->
                                        <li data-transition="fade" data-slotamount="10" data-masterspeed="300"
                                            data-slideindex="back">
                                            <!-- THE MAIN IMAGE IN THE SLIDE -->
                                            <img src="http://www.aiit.edu.cn/info/120702">
                                            <!-- THE CAPTIONS OF THE FIRST SLIDE -->
                                            <div class="tp-caption sfl original"
                                                 data-x="100"
                                                 data-y="146"
                                                 data-speed="300"
                                                 data-start="600"
                                                 data-captionhidden="on"
                                                 data-endeasing="easeOutExpo"
                                                 data-easing="easeOutExpo">
                                                Create Your Own
                                            </div>
                                            <div class="tp-caption sfr original_high"
                                                 data-x="142"
                                                 data-y="178"
                                                 data-speed="300"
                                                 data-start="800"
                                                 data-captionhidden="on"
                                                 data-endeasing="easeOutExpo"
                                                 data-easing="easeOutExpo">
                                                Personality!
                                            </div>
                                        </li>
                                    </ul>
                                    <!--轮播图片结束-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--下界-->
                <!--动态要闻开始-->
                <div id="content-wrapper" class="content-wrapper">
                    <div class="container">
                        <div class="clearfix">
                            <!-- BEGIN CONTENT -->
                            <section id="content" class="grid_8">
                                <h2>动 态 要 闻</h2>
                                </br>
                                <div class="latest-posts-holder">
                                    <!--社团通知循环开始-->
                                    <article class="post clearfix">
                                        <figure class="featured-thumb">
                                            <a href="#"><img style="height: 155px"
                                                             th:src="@{${#httpServletRequest.getContextPath()} + 'society_files/1554690415.jpg'}"
                                                             alt=""></a>
                                        </figure>
                                        <div class="post-body">
                                            <header class="post-header">
                                                <h3><a href="#">丐帮开始新一轮的帮主选举啦！！！</a></h3>
                                                <p class="post-meta">
                                                    <span class="post-meta-cats"><i class="icon-tag"></i><a href="#">News</a> / <a
                                                            href="#">Design</a></span>
                                                    <span class="post-meta-author"><a href="#"><i class="icon-user"></i>Dan Fisher</a></span>
                                                    <span class="post-meta-comments"><a href="#"><i
                                                            class="icon-comment"></i>16</a></span>
                                                </p>
                                            </header>
                                            <div class="post-excerpt">
                                                <p class="over_skip">
                                                    早在5000多年前，山东就已经出现原始形态的实物货币。齐国自春秋中叶开始就以齐国刀币作为法定标准货币。鲁国在西周时期少量使用海贝，春秋中叶开始铸行铜贝和包金铜贝。</p>
                                                <a href="#" class="btn">查 看 详 情</a>
                                            </div>
                                        </div>
                                    </article>
                                    <!--社团通知循环结束-->
                                    <article class="post clearfix">
                                        <figure class="featured-thumb">
                                            <a href="#"><img style="height: 155px"
                                                             th:src="@{${#httpServletRequest.getContextPath()} + 'society_files/1554690415.jpg'}"
                                                             alt=""></a>
                                        </figure>
                                        <div class="post-body">
                                            <header class="post-header">
                                                <h3><a href="#">丐帮开始新一轮的帮主选举啦！！！</a></h3>
                                                <p class="post-meta">
                                                    <span class="post-meta-cats"><i class="icon-tag"></i><a href="#">News</a> / <a
                                                            href="#">Design</a></span>
                                                    <span class="post-meta-author"><a href="#"><i class="icon-user"></i>Dan Fisher</a></span>
                                                    <span class="post-meta-comments"><a href="#"><i
                                                            class="icon-comment"></i>16</a></span>
                                                </p>
                                            </header>
                                            <div class="post-excerpt">
                                                <p class="over_skip">
                                                    早在5000多年前，山东就已经出现原始形态的实物货币。齐国自春秋中叶开始就以齐国刀币作为法定标准货币。鲁国在西周时期少量使用海贝，春秋中叶开始铸行铜贝和包金铜贝。</p>
                                                <a href="#" class="btn">查 看 详 情</a>
                                            </div>
                                        </div>
                                    </article>

                                    <article class="post clearfix">
                                        <figure class="featured-thumb">
                                            <a href="#"><img style="height: 155px"
                                                             th:src="@{${#httpServletRequest.getContextPath()} + 'society_files/1554690415.jpg'}"
                                                             alt=""></a>
                                        </figure>
                                        <div class="post-body">
                                            <header class="post-header">
                                                <h3><a href="#">丐帮开始新一轮的帮主选举啦！！！</a></h3>
                                                <p class="post-meta">
                                                    <span class="post-meta-cats"><i class="icon-tag"></i><a href="#">News</a> / <a
                                                            href="#">Design</a></span>
                                                    <span class="post-meta-author"><a href="#"><i class="icon-user"></i>Dan Fisher</a></span>
                                                    <span class="post-meta-comments"><a href="#"><i
                                                            class="icon-comment"></i>16</a></span>
                                                </p>
                                            </header>
                                            <div class="post-excerpt">
                                                <p class="over_skip">
                                                    早在5000多年前，山东就已经出现原始形态的实物货币。齐国自春秋中叶开始就以齐国刀币作为法定标准货币。鲁国在西周时期少量使用海贝，春秋中叶开始铸行铜贝和包金铜贝。</p>
                                                <a href="#" class="btn">查 看 详 情</a>
                                            </div>
                                        </div>
                                    </article>

                                    <article class="post clearfix">
                                        <figure class="featured-thumb">
                                            <a href="#"><img style="height: 155px"
                                                             th:src="@{${#httpServletRequest.getContextPath()} + 'society_files/1554690415.jpg'}"
                                                             alt=""></a>
                                        </figure>
                                        <div class="post-body">
                                            <header class="post-header">
                                                <h3><a href="#">丐帮开始新一轮的帮主选举啦！！！</a></h3>
                                                <p class="post-meta">
                                                    <span class="post-meta-cats"><i class="icon-tag"></i><a href="#">News</a> / <a
                                                            href="#">Design</a></span>
                                                    <span class="post-meta-author"><a href="#"><i class="icon-user"></i>Dan Fisher</a></span>
                                                    <span class="post-meta-comments"><a href="#"><i
                                                            class="icon-comment"></i>16</a></span>
                                                </p>
                                            </header>
                                            <div class="post-excerpt">
                                                <p class="over_skip">
                                                    早在5000多年前，山东就已经出现原始形态的实物货币。齐国自春秋中叶开始就以齐国刀币作为法定标准货币。鲁国在西周时期少量使用海贝，春秋中叶开始铸行铜贝和包金铜贝。</p>
                                                <a href="#" class="btn">查 看 详 情</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <style>
                                    .over_skip {
                                        display: -webkit-box;
                                        -webkit-box-orient: vertical;
                                        -webkit-line-clamp: 3;
                                        overflow: hidden;
                                    }
                                </style>

                                <!-- Navigation -->
                                <nav class="post-nav">
                                    <div class="older fleft">
                                        <a href="#">&larr; <span>more information</span></a>
                                    </div>
                                    <div class="newer fright">
                                        <a href="#"><span>Newer Entries</span> &rarr;</a>
                                    </div>
                                </nav>
                                <!-- /Navigation -->
                            </section>
                            <!--动态要闻结束-->
                            <!-- END CONTENT -->

                            <!--通知公告开始 -->
                            <aside id="sidebar" class="sidebar grid_4">
                                <!-- Popular Posts Widget -->
                                <div class="popular-posts widget widget__sidebar">
                                    <h3 class="widget-title">通 知 公 告</h3>
                                    <div class="widget-content">
                                        <ul class="posts-list unstyled clearfix">
                                            <li>
                                                <h2 style="color: black">第十三周会议通知</h2>
                                            </li>
                                            <li>
                                                <h4><a href="javascrpt:">诸葛亮三顾毛驴</a></h4>
                                            </li>
                                            <li>
                                                <h4><a href="javascrpt:">诸葛亮三顾毛驴</a></h4>
                                            </li>
                                            <li>
                                                <h4><a href="javascrpt:">诸葛亮三顾毛驴</a></h4>
                                            </li>

                                            <li>
                                                <h4><a href="javascrpt:">诸葛亮三顾毛驴</a></h4>
                                            </li>

                                            <li>
                                                <h4><a href="javascrpt:">诸葛亮三顾毛驴</a></h4>
                                            </li>
                                            <li>
                                                <h4><a href="javascrpt:">诸葛亮三顾毛驴</a></h4>
                                            </li>
                                            <li>
                                                <h4><a href="javascrpt:">诸葛亮三顾毛驴</a></h4>
                                            </li>

                                            <li>
                                                <h4><a href="javascrpt:">诸葛亮三顾毛驴</a></h4>
                                            </li>

                                            <li>
                                                <h4><a href="javascrpt:">诸葛亮三顾毛驴</a></h4>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </aside>
                            <!--通知公告结束-->
                        </div>
                    </div>
                </div>


            </div>

            <!--内嵌网页容器-->
            <div id="innerView">

            </div>
        </div>
    </div>
</div>
<!-- END WRAPPER -->


<!-- Javascript Files
================================================== -->
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

<!-- initialize jQuery Library -->
<script type="text/javascript" th:src="@{/mjs/jquery.min.js}" charset="utf-8"></script>

<script>window.jQuery || document.write('<script src="mjs/jquery-1.9.1.min.js"><\/script>')</script>

<script type="text/javascript" th:src="@{/mjs/jquery-migrate-1.1.1.min.js}" charset="utf-8"></script>
<!-- Modernizr -->
<script type="text/javascript" th:src="@{/mjs/modernizr.custom.17475.js}" charset="utf-8"></script>
<!-- easing plugin -->
<script type="text/javascript" th:src="@{/mjs/jquery.easing.min.js}" charset="utf-8"></script>
<!-- Prettyphoto -->
<script type="text/javascript" th:src="@{/mjs/jquery.prettyPhoto.js}" charset="utf-8"></script>
<!-- Superfish -->
<script type="text/javascript" th:src="@{/mjs/jquery.mobilemenu.js}" charset="utf-8"></script>
<!-- superfish -->
<script type="text/javascript" th:src="@{/mjs/jquery.superfish-1.5.0.js}" charset="utf-8"></script>
<!-- Twitter -->
<script type="text/javascript" th:src="@{/mjs/jquery.twitter.js}" charset="utf-8"></script>
<!-- Flickr -->
<script type="text/javascript" th:src="@{/mjs/jflickrfeed.js}" charset="utf-8"></script>
<!-- ElastiSlide Carousel -->
<script type="text/javascript" th:src="@{/mjs/jquery.elastislide.js}" charset="utf-8"></script>

<!-- jQuery REVOLUTION Slider  -->
<script type="text/javascript" th:src="@{/mjs/jquery.themepunch.plugins.min.js}" charset="utf-8"></script>


<script type="text/javascript" th:src="@{/mjs/jquery.themepunch.revolution.min.js}" charset="utf-8"></script>

<!-- Isotope -->
<script type="text/javascript" th:src="@{/mjs/jquery.isotope.min.js}" charset="utf-8"></script>

<script type="text/javascript" th:src="@{/mjs/jquery.imagesloaded.min.js}" charset="utf-8"></script>

<!-- Flexslider -->
<script type="text/javascript" th:src="@{/mjs/jquery.flexslider.js}" charset="utf-8"></script>


<!-- Custom -->
<script type="text/javascript" th:src="@{/mjs/custom.js}" charset="utf-8"></script>


<script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>

<script type="text/javascript" th:src="@{/js/xadmin.js}" charset="utf-8"></script>

<script type="text/javascript" th:src="@{/js/clubpage.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/js/arroundpage.js}" charset="utf-8"></script>
<script>
   /* $(document).ready(function () {
        var islock;
        $.ajax({
            url:"/getUser",
            type:"post",
            success:function (data) {
                islock = data;
                if (islock ==="user"){
                    document.getElementById("attraction").hidden = false;
                    document.getElementById("food").hidden = false;
                }
            },
            error:function () {
                alert("数据传输错误")
            }
        })
    })*/
</script>
</body>
</html>